* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#html {
    word-wrap: break-word;
}

#div {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#div::before {
    content: '';
    display: block;
    position: relative;
}

#div::after {
    content: '';
    display: block;
    position: relative;
}

@media (max-width: 500px) {
    #html {
        height: 50vh;
        overflow: auto;

    }

    #div {
        position: relative;
    }
}